body
{
    background-color: white;
}
*
{
    padding:0px;
    margin: 0px;
}
.header
{
    
    height: 90px;
    margin-bottom: 20px; 
    background-image: linear-gradient(to bottom right, red, yellow);

}
.sellerproducts
{
    width: 1300px;
    margin-left: auto;
    
}



div p
{
    float: right;
    margin-top: 35px;
    margin-right: 140px;
    font-size: 30px;
   
   
}
.search
{
    float:right;
    margin-top: 38;
    margin-right: 130px;
    width:400px;
    height: 30px;
    border-radius: 10px;
   
}
.quit
{
    float: right;
    margin-top: 34;
    margin-right: 60px;
    height: 30px;
    width: 100px;
}
span
{
    float:right;
    margin-top: 38;
    margin-right: 120px;
    font-size: 20px;
}
h2
{
    text-align: center;
}
.myproduct
{
    font-size: 18px;
    width: 150px;
    float:right;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.rating
{
    font-size: 18px;
    width:150px;
    float: right;
    margin-top: 40px;
    margin-right: 18px;
}


table
{

   margin-top:  110px ;
   margin-left: 300;

}
table caption
{
    font-weight: bolder;
    font-size: 30px;
    margin: auto ;
    margin-top: 40px;
    margin-bottom: 50px;
}
table,th,td
{
    border:1px solid black;
    border-collapse: collapse;
}

.head
{
     background-image: linear-gradient(to bottom right, red, yellow);
}
table thead tr th
{
    width: 120px;
    padding: 10px;
     

}
table tbody tr th select 
{
    width: 140px;
}